img {
  width: 100%;
}

.flex-container {
  display: flex;
}

.image-container {
  flex: 25%;
}

.game-buttons {
  flex: 25%;
  text-align: center;
}

#challenge-title {
  flex: 100%;
  text-align: center;
}

/* Kento's Styes */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.body__wrapper {
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #540b0e;
}

.header__title {
  color: #fff3b0;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header__timer {
  display: flex;
  justify-content: center;
}

.header__heading {
  color: #fff3b0;
  margin: 0 10em;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__container {
  text-align: center;
}

.primary-button {
  padding: 15px 30px;
  background-color: #9e2a2b;
  text-decoration: none;
  color: #fff3b0;
  border-radius: 4px;
}

.primary-button:hover {
  background-color: #540b0e;
  color: #e09f3e;
}

.styles_closeIcon__1QwbI {
  display: none !important;
}

.styles_modal__gNwvD {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  text-align: center;
  height: 400px;
}

/* #timerBar {
  width: 200px;
  height: 20px;
  background-color: white;
}

@keyframes timer {
  from {
    width: 200px;
  }
  to {
    width: 0px;
  }
} */