img {
  width: 100%;
}

.flex-container {
  display: flex;
}

.image-container {
  flex: 25%;
}

.game-buttons {
  flex: 25%;
  text-align: center;
}

#challenge-title {
  flex: 100%;
  text-align: center;
}

/* Kento's Styes */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.body__wrapper {
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__container {
  text-align: center;
}